@media {
	.container {
		background-color: azure
	}
	a:link {
		color: teal
	}
	a:visited {
		color: slategray
	}
	a:hover {
		color: lightseagreen
	}
	a:active {
		color: lightslategray
	}
	.Title {
		font-family: "Bebas Neue";
		font-size: 80px;
	}
	.Subtitle {
		font-family: "Bebas Neue";
		font-size: 40px;
		color: darkslategray
	}
	#fentanyl_pic {
		width: 500px
	}
	.Byline {
		font-family: sans-serif;
		font-size: 18px;
		color: teal
	}
	.Menu {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.nav-item {
		font-family: sans-serif;
		font-size: 18px
	}
	.Q1 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q2 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	#lethal_dose_pic {
		width: 500px
	}
	.Q3 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.quote {
		font-family: "Bebas Neue";
		font-size: 40px;
		background-color: darkslategray;
		color: white;
	}
	.Q4 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	#rainbow_pills_pic {
		width: 500px
	}
	.Q5 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q6 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q7 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q8 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q9 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q10 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q11 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
	.Q12 {
		font-family: "Bebas Neue";
		font-size: 30px;
		color: darkslategray
	}
}
@media (min-width:768px) {
	.Title {
		font-size: 100px
	}
	.Subtitle {
		font-size: 50px
	}
	#fentanyl_pic {
		width: 700px
	}
	#lethal_dose_pic {
		width: 700px
	}
	#rainbow_pills_pic {
		width: 700px
	}
}
@media (min-width:992px) {
	.Title {
		font-size: 120px
	}
	.Subtitle {
		font-size: 60px
	}
	#fentanyl_pic {
		width: 900px
	}
	#lethal_dose_pic {
		width: 900px
	}
	#rainbow_pills_pic {
		width: 900px
	}
}
@media (min-width:1200px) {
	.Title {
		font-size: 140px
	}
	.Subtitle {
		font-size: 80px
	}
	#fentanyl_pic {
		width: 1100px
	}
	#lethal_dose_pic {
		width: 1100px
	}
	#rainbow_pills_pic {
		width: 1100px
	}
}